body{
    height: 100%;
    width: 80%;
    margin: auto;
    color: white;
    background-color: #292D2D;
}



h1,h2,h3,p,a{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    font-weight: bold;
}

.perfil{
    border-radius: 100%;
    border:5px solid white;
}

table{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

#my-head{
    height:30em;
    padding:40px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url(imagen/wall.jpg);
    background-size: cover;
    background-position: bottom;
   
    
    
}

#nombre{
    padding-left:40px;
}

#dg{
    margin-top: -20px;
    text-transform: uppercase;
    text-align: left;
}

#sobremi{
    display: flex;
    align-self: center;
    width: 50%;
}

#texto{
    text-align: justify;
}

#v09{
    width: 400px;
    display: flex;
    align-self: center;
    transition: all 0.2s;
}

#v09:hover{
    transform: translateY(-10px);
}

.seccion{
    margin-top: 20px;
    padding-top:40px;
    border-top:1px solid white;
    display: flex;
    justify-content:space-evenly;
}

.hobbies{
    text-align: center;
}

.inter{
    transition: all 0.2s ease-in-out;
}

.inter:hover{
    transform: scale(1.05)
    
    
}

.interes{
    width: 300px;
}

.redes{
    border-top:1px solid white;
    padding-top:20px;
    width: 100%;
}

.social{
    padding: 10px;
}

.mapa{
    margin: auto;
}