body{
    height: 100%;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    color: white;
    background-color: #292D2D;
}

h1,h2,h3,p,a{
    font-family: sans-serif;
}

.perfil{
    border-radius: 100%;
    border:5px solid white;
}

table{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.tabla{
    margin: auto;
    text-align: center;
    align-content: center;
    
}

#nombre{
    padding-left: 20px;
}

#dg{
    margin-top: -20px;
    text-transform: uppercase;
}

#v09{
    width: 400px;
}

.sec{
    margin-top: 40px;
}

.hobbies{
    width: 100%;
    text-align: center;
    border-top:1px solid white;
    padding-top:20px;
}

.inter{
    transition: all 0.2s ease-in-out;
}

.inter:hover{
    transform: scale(1.05)
    
    
}

.interes{
    width: 300px;
}

.redes{
    border-top:1px solid white;
    padding-top:20px;
    width: 100%;
}

.social{
    padding: 10px;
}

.mapa{
    margin: auto;
}